// Import site utilities
@import '../../global/utils/init';

.heading {
  color: $color-gray;

  &.center {
    text-align: center;
  }

  &.section-header {
    margin-bottom: 20px;

    @media screen and (min-width: $bp-lg) {
      margin-bottom: 40px;
    }
  }
}

// Removes underline when headings are links.
.heading a {
  text-decoration: none;
}

// Styles for extra large headings.
.heading.heading--large {
  color: $color-gray;
  font-size: 3rem;
  text-align: center;

  @media screen and (min-width: $bp-sm) {
    font-size: 4rem;
  }

  @media screen and (min-width: $bp-md) {
    font-size: 6rem;
  }
}
