// Import site utilities
@import '../../global/utils/init';

.from-our-blog {
  @include component-spacing;
}

.from-our-blog__items {
  display: flex;
  justify-content: space-around;
}

.from-our-blog__card {
  flex: 0 0 22%;
  max-width: 400px;
}

.from-our-blog__cta {
  margin-top: 50px;
  text-align: center;
}
